body{
    background-image: url("../images/dust_scratches.png");
}



.jumbotron{
    margin-top:20px;
    width:960px;
    height:480px
}


h2{
    font-size:28px;
    color:lightslategray
}

hr{
    color:lightslategray
}

img{
    width:150px;
    height:150px;
}


    
    
     