body{
    background-image: url("../images/dust_scratches.png");
}



.jumbotron{
    margin-top:20px;
    width:69em;
    height:420px;
    margin-bottom:51px;
    padding-top:15px
    
}


h2{
    font-size:28px;
    color:#4aaaa5
}

hr{
    color:lightslategray
}

img{
    width:150px;
    height:150px;
    margin-right:1em
    
}

.lead{
    font-size:18px
}


    
    h1{
        margin-top:0;
        padding:1rem;
        padding-left:3px;
        
    
    }
     
    #name{
        background:#4aaaa5;
        color:white;
        margin-left:0px;
        font-size:30px;
        margin-top:0;
        margin-bottom:0;
        padding-left:3px;
        padding-right:3px
    }

    .navbar-custom{
        padding:0
    }
    .nav-item{
        margin-right:1em
    }
    .navbar-nav{
        margin-right:-1em
    }

   .footer{
       background:#666666;
       position:fixed;
       bottom:0;
       width:100%;
       padding-top:15px;
       border-top:solid #4aaaa5 5px
      
    
   }

   @media screen and (max-width:640px){
      p{
          font-size: 14px
      }
   }